<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title><%= title || 'rawfeed.social' %></title>
    <link rel="stylesheet" href="/public/css/tailwind.css" />
    <script src="/public/js/htmx.min.js"></script>
    <script src="/public/js/app.js"></script>
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, noarchive" />
    <meta name="googlebot-news" content="nosnippet" />
  </head>
  <body class="bg-gray-100 text-gray-900">
    <%- body %>
  </body>
</html>
