<!doctype html>
<html lang="en">
  <%- include('head') %>
  <body class="bg-gray-100 text-gray-900">
    <%- include('../partials/navbar') %> <%- body %> <%-
    include('../partials/footer') %>
  </body>
</html>
