<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title><%= title || 'Microblog' %></title>
    <link rel="stylesheet" href="/public/css/tailwind.css" />
    <script src="/public/js/htmx.min.js"></script>
  </head>
  <body class="bg-gray-100 text-gray-900">
    <%- include('../partials/navbar') %> <%- body %> <%-
    include('../partials/footer') %>
  </body>
</html>
