<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title><%= title || 'rawfeed.social' %></title>
  <link rel="stylesheet" href="/public/css/tailwind.css" />
  <script src="/public/js/htmx.min.js"></script>
  <script src="/public/js/app.js"></script>
  <meta name="robots" content="index, follow" />
  <meta name="googlebot" content="index, follow, noarchive" />
  <meta name="googlebot-news" content="nosnippet" />

  <meta property="og:site_name" content="rawfeed.social" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="rawfeed.social - Ethical Microblogging" />
  <meta
    property="og:description"
    content="Chronological feeds without algorithmic manipulation"
  />
  <meta
    property="og:image"
    content="https://rawfeed.social/public/images/og.png"
  />
  <meta property="og:url" content="https://rawfeed.social" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="rawfeed.social - Ethical Microblogging" />
  <meta name="twitter:description" content="Ethical microblogging platform" />
  <meta
    name="twitter:image"
    content="https://rawfeed.social/public/images/og.png"
  />

  <!-- views/layout.ejs -->
  <% if (isProd) { %>
  <script
    defer
    src="https://cloud.umami.is/script.js"
    data-website-id="b0b55b3f-3a08-4ddd-b775-348ea72445d6"
  ></script>
  <% } %>
</head>
